/* fonts 

font-family: 'Faster One', cursive;
font-family: 'Wellfleet', cursive;

*/

@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Wellfleet&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  min-height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
}

:root {
  --main-color: #20828f;
  --text-light-color: #949494;
}

.text-color {
  color: var(--text-light-color);
}

.back-ground-color {
  background-color: var(--main-color);
}

/* text shorten class */
.text-shorten {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-title {
  font-family: "Wellfleet", cursive;
  /* font-family: "Faster One", cursive; */
}

.title-first-word {
  color: var(--main-color);
}

.border-bottom {
  border: 1px solid var(--main-color);
}

.btn-outline-category {
  border: 2px solid var(--main-color);
  border-radius: 15px;
  color: #949494;
}

.btn-outline-category:hover {
  background-color: var(--main-color);
  color: white;
}

/* not found section */

.not-found-container {
  background-color: #a1d2daba;
  color: black;
  font-weight: bold;
}

/* author image */

.author-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.btn-modal:hover {
  border: 2px solid var(--main-color);
  /* border-radius: 15px; */
  color: #20828f !important;
}

/* navbar */

.navbar-bg {
  background-color: #a1d2daba;
}

.navbar-link:hover {
  border-bottom: 3px solid var(--main-color);
}

.footer {
  background-color: #a1d2daba;
  margin-top: auto;
}

.top-blog-text {
  font-family: "Faster One", cursive;
}
